<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thailandsbc.cloneplanting" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBI7O22IJEYjlTZoQCdUcKVYpS4_hMqG8" />

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".baseactivity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SendActivity"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name=".FamilyDetailsActivity"
            android:label="@string/title_activity_family_details" >
        </activity>
        <activity
            android:name=".receive.ReceiveActivity"
            android:label="@string/title_activity_receive" >
        </activity>

        <provider
            android:name=".database.ClonePlantingContentProvider"
            android:authorities="ThailandSugarcaneBreedingCenter"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".BlankActivity"
            android:label="@string/title_activity_blank"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".planting.PlantingCloneActivity"
            android:label="@string/title_activity_planting_clone"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".test.testAddData"
            android:label="Test"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".planting.RowListActivity"
            android:label="@string/title_activity_row_list_adapter"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".createland.LandSelectionActivity"
            android:label="@string/title_activity_land_selection"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".createland.CreateLandActivity"
            android:label="@string/title_activity_create_land"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".createland.ConfirmCreateLandActivity"
            android:label="@string/title_activity_confirm_create_land"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
